# This is a basic workflow to help you get started with Actions

name: Python workflow

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  schedule:
    - cron: '0 0 * * *' # Run daily at midnight (adjust as needed)

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8

    - name: Install dependencies
      run: pip install requests beautifulsoup4

    
    - name: Commit and push changes
      run: |
        python debian-wiki.py > debian_news_$(date +"%Y-%m-%d").md
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add debian_news_$(date +"%Y-%m-%d").md
        git commit -m "Update Debian Wiki News"
        git push https://github.com/NShravanReddy/debian-wiki.git HEAD:main --follow-tags ${{ secrets.debain_wiki }}
